//主题色-主要主题色
@theme:#E84813;
//主题色-次要主题色
@theme-secondary: #C3A558;
//主题色-背景色
@theme-bg: #F5F5F5;
@theme-linear-gradient: linear-gradient(-90deg, #6267FF 0%, #3B81FF 100%);
//头部高度
@header-height: 44px;
//页面左右的padding
@page-space: 0.24rem;

@theme-bd: #B3B3B3;

//https://github.com/airyland/vux/blob/v2/src/styles/variable.less
/**
* Swiper
*/
@swiper-indicator-active-color: @theme;
/**
* datetime
*/
// @datetime-header-item-font-color: @theme-color;
@datetime-header-item-cancel-font-color: @theme;
@datetime-header-item-confirm-font-color: @theme;
/**
* popup-picker
*/
@popup-picker-header-text-color: @theme;
// @popup-picker-header-bg-color: #fbf9fe;
// @popup-picker-header-font-size: 16px;
// @popup-picker-header-cancel-text-color: #828282;

@dialog-button-text-primary-color: @theme;
@tab-text-disabled-color: #ddd;
@tab-text-default-color: #666;
@tab-text-active-color: @theme;
@tab-bar-active-color: @theme;